@import "reset.css";

/* General Layout
*******************************/

body																														{ font-family:verdana, arial, sans-serif; font-size:12px; line-height:18px; }

#header, #content, #footer																			{ width:980px; margin:0 auto; }

#header																													{ margin-bottom:20px; }
#header .inner																									{ padding:20px; }

#header .logo a,#header .logo a:hover														{ color:#333; background: none; text-transform: uppercase; }
#header ul.nav																									{ overflow:hidden; }
#header ul.nav li																								{ float:left; margin-right:10px; }
#header ul.nav li a																							{ text-decoration: none; }
#header ul.nav li a:hover																				{ color:white; background:#0062CA; }

#content																												{ margin-bottom:20px; }
#content .inner																									{ padding:20px; }

#footer																													{}
#footer .copyright																							{ padding:20px; font-size:10px; color:#555; }

.clear																													{ clear:both; display:block; height:1px; margin:-1px 0 0 0 }
.ir																															{ display: block; text-indent: -1000em; overflow:hidden; }

a																																{ color:#0062CA; text-decoration: none; }
a:hover																													{ color:white; background:#0062CA; }

#content h1																											{ font-size:20px; line-height: 28px; }
#four04 h1																											{ color:red; }												

/* Dev Only */

body > div																											{ border:solid 1px #eaeaea; }
